
@{
    ViewData["Title"] = "pseudoview";
}
@model SecondWeekCSharp.Models.Pseudo

    <div class="text-center">
        <h2>password number : @Model.count</h2>
        <p>
            @Model.pseudopassword
        </p>
     
        <form asp-controller="Home" asp-action="updateit" method="post">
            <input asp-for="count" type="hidden" name="name" value="@Model.count" />
            <input asp-for="pseudopassword" type="hidden" name="name" value="" />
            <input type="submit" name="name" value="submitme" />
        </form>

    </div>


